/* glue: 0.4 hash: a1e409cadb */
.sprite-icons-Twitter,
.sprite-icons-LinkedIn,
.sprite-icons-LastFM,
.sprite-icons-Google,
.sprite-icons-GitHub,
.sprite-icons-Flickr,
.sprite-icons-Facebook {
    background-image: url('../img/icons.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-icons-Twitter {
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}

.sprite-icons-LinkedIn {
    background-position: -32px 0px;
    width: 32px;
    height: 32px;
}

.sprite-icons-LastFM {
    background-position: 0px -32px;
    width: 32px;
    height: 32px;
}

.sprite-icons-Google {
    background-position: -32px -32px;
    width: 32px;
    height: 32px;
}

.sprite-icons-GitHub {
    background-position: -64px 0px;
    width: 32px;
    height: 32px;
}

.sprite-icons-Flickr {
    background-position: -64px -32px;
    width: 32px;
    height: 32px;
}

.sprite-icons-Facebook {
    background-position: 0px -64px;
    width: 32px;
    height: 32px;
}