body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

a {
    display: inline;
    margin: 5px;
}

.home-logo {
    font-size: 180px;
    display: flex;
    justify-content: center;
}