ul.socialicons li a {
    background: url(../img/socialsprite.png) no-repeat;
    width: 32px;
    height: 32px;
    display: block;
}

.sprite-facebook {
    background-position: -86px -43px !important;
}

.sprite-flickr {
    background-position: -86px -0px !important;
}

.sprite-github {
    background-position: -43px -43px !important;
}

.sprite-lastfm {
    background-position: -0px -43px !important;
}

.sprite-linkedin {
    background-position: -43px -0px !important;
}

.sprite-twitter {
    background-position: -0px -0px !important;
}
