{% extends "base.html" %}

{% block content %}
<div class="text-center">
<p>
  <img src="http://www.gravatar.com/avatar/a976fa18a7da7faddf93dde016ad3ea5?s=150"/>
</p>

<p>
My name is Allan Beaufour. A dane in "exile" in New York. I'm
currently working as the CTO
at <a href="http://chartbeat.com/">Chartbeat</a>.
</p>

<p>
If you want to contact me I am <i>allan</i> on this domain,
and <i>beaufour</i> on most platforms.
</p>

<p>
  This site is entirely static and hosted out
  of <a href="http://aws.amazon.com/s3/">S3</a>. It is built
  using <a href="http://twitter.github.com/bootstrap/index.html">Twitter's
  Bootstrap</a> for the HTML/JS "scaffolding"
  and <a href="https://github.com/koenbok/Cactus">Cactus</a> for
  templating. The social media icons are
  from <a href="http://www.designerschair.com/freebies/mono-dc-monochrome-social-icons/">Designers
  Chair</a>. The source code for the site can be found
  on <a href="https://github.com/beaufour/beaufour.dk">github</a>.
</div>
{% endblock %}
