section: index

{% extends "base.html" %}

{% block header %}
<link href="{{ STATIC_URL }}/css/socialicons.css" rel="stylesheet">
{% endblock %}

{% block content %}
<p class="text-center home-logo">
  b
</p>

<ul class="socialicons inline text-center">
  <li><a rel="me" class="sprite-facebook" href="http://facebook.com/beaufour"></a></li>
  <li><a rel="me" class="sprite-linkedin" href="http://www.linkedin.com/in/beaufour"></a></li>
  <li><a rel="me" class="sprite-twitter" href="http://twitter.com/beaufour"></a></li>
  <li><a rel="me" class="sprite-flickr" href="http://flickr.com/photos/beaufour"></a></li>
  <li><a rel="me" class="sprite-github" href="http://github.com/beaufour"></a>
  <li><a rel="me" class="sprite-lastfm" href="http://last.fm/user/beaufour"></a>
</ul>
{% endblock %}
