{% extends "base.html" %}

{% block content %}
<div class="text-center">
  <object width="898" height="601">
    <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2Fbeaufour%2Fsets%2F72157622764287329%2Fshow%2F&page_show_back_url=%2Fphotos%2Fbeaufour%2Fsets%2F72157622764287329%2F&set_id=72157622764287329&jump_to="></param>
    <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=71649"></param>
      <param name="allowFullScreen" value="true"></param>
      <embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=71649" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2Fbeaufour%2Fsets%2F72157622764287329%2Fshow%2F&page_show_back_url=%2Fphotos%2Fbeaufour%2Fsets%2F72157622764287329%2F&set_id=72157622764287329&jump_to=" width="600" height="401"></embed>
  </object>
</div>

<div class="text-center">
  All my photos can be found on <a href="https://www.facebook.com/beaufour">Flickr</a>.
</div>

{% endblock %}
