section: photos
title: Photos

{% extends "base.html" %}

{% block content %}
<div class="text-center" id="galleria">
</div>

<div class="text-center" style="margin-top: 40px">
  All my photos can be found on <a href="https://www.flickr.com/beaufour">Flickr</a>.
</div>
{% endblock %}

{% block scripts %}
<script src="{% static '/js/galleria/galleria-1.4.2.min.js' %}"></script>
<script src="{% static '/js/galleria/plugins/flickr/galleria.flickr.min.js' %}"></script>

<script>
 Galleria.loadTheme('{% static '/js/galleria/themes/classic/galleria.classic.min.js' %}');
 Galleria.run('#galleria', {
     flickr: 'set:72157622764287329',
     flickrOptions: {
         description: true,
         max: 100
     },
     height: 0.5625,
     autoplay: true
 });
</script>
{% endblock %}
