section: photos
title: Photos

{% extends "base.html" %}

{% block content %}
<div class="text-center">
<div style='position: relative; padding-bottom: 76%; height: 0; overflow: hidden;'><iframe id='iframe' src='https://flickrit.com/slideshowholder.php?height=75&size=big&count=100&setId=72157622764287329&credit=1&theme=1&thumbnails=0&transition=0&layoutType=responsive&sort=0' scrolling='no' frameborder='0'style='width:100%; height:100%; position: absolute; top:0; left:0;' ></iframe></div>
</div>

<div class="text-center">
  All my photos can be found on <a href="https://www.flickr.com/beaufour">Flickr</a>.
</div>

{% endblock %}
