section: projects
title: Projects

{% extends "base.html" %}

{% block content %}

<p>
  Random bits and pieces of code I have on <a href="http://github.com/beaufour">Github</a>:
</p>

<dl class="dl-horizontal">
<dt><a href="https://github.com/beaufour/analyzecal">analyzecal</a></dt>
  <dd>Analyze Google Calendar Data <i></i></dd>

  <dt><a href="https://github.com/beaufour/dotemacs">dotemacs</a></dt>
  <dd>My Emacs configuration</dd>

  <dt><a href="https://github.com/beaufour/flickr-download">flickr-download</a></dt>
  <dd>Simple script to download a Flickr set</dd>

  <dt><a href="https://github.com/beaufour/flickr-upload">flickr-upload</a></dt>
  <dd>Simple tool to upload photos to Flickr</dd>

  <dt><a href="https://github.com/beaufour/mtop">mtop</a></dt>
  <dd>mongo top</dd>

  <dt><a href="https://github.com/beaufour/tcpkill">tcpkill</a></dt>
  <dd>Kills TCP connections <i>(fork)</i></dd></dl>

{% endblock %}
