section: misc
title: Recipe Collection

{% extends "base.html" %}

{% block content %}
<p>
  <i>This is a really old collection of Danish Christmas recipes that
  I put online back in 1995… yeah, that old.</i>
</p>

<p>
  Velkommen til denne lille samling af juleopskifter.
</p>

<p>
  Jeg er ikke selv ophavsmand, men har bare samlet dem fra forskellige personer, bl.a. fra Dansk-Listen.<br>
  Jeg står heller ikke inde for kvaliten, da jeg ikke har prøvet dem alle selv, men den er sikkert fremragende.
</p>

<h2><a name="Indhold">Indhold:</a></h2>

<ul>
  <li><a href="#Gloegg1">Gløgg</a>
  </li><li><a href="#Gloegg2">Syltes gløgg</a>
  </li><li><a href="#Gloegg3">Uffes gløgg</a>
  </li><li><a href="#Gloegg4">Gløgg (fra 'God mad, let at lave')</a>
  </li><li><a href="#Gloegg5">Torbens gløgg</a>
  </li><li><a href="#Skiver1">Tines mormors æbleskiver</a>
  </li><li><a href="#Skiver2">Æbleskiver I (fra 'Frk. Jensens')</a>
  </li><li><a href="#Skiver3">Æbleskiver II (fra 'Frk. Jensens')</a>
  </li><li><a href="#Pande1">Pandekager I (fra 'Frk. Jensens')</a>
  </li><li><a href="#Rugbroed1">Bentes rugbrød</a>
  </li><li><a href="#Sild1">Ingelises sild</a>
  </li><li><a href="#Sild2">Ingelises sild i karry</a>
  </li><li><a href="#Leverpostej1">Leverpostej (fra Det Store Danske Madleksikon)</a>
  </li><li><a href="#Leverpostej2">Ullas leverpostej</a>
  </li><li><a href="#Leverpostej3">Ullas low-fat leverpostej</a>
  </li><li><a href="#Leverpostej4">Christians leverpostej</a>
  </li><li><a href="#Klejner">Klejner</a>
  </li><li><a href="#Vaniliekranse">Vaniliekranse</a>
  </li><li><a href="#Kransekage">Kransekage</a>
  </li><li><a href="#Gloser">Krydderier på engelsk</a>
  </li>
</ul>

<h2><a name="Gloegg1">Gløgg</a></h2>
  <p>
    <i>Susanne's kommentarer:
  </i></p><p><i>
      Endnu en opskrift fra listen. Desværre ved jeg ikke hvem der er
      ophavsperson, men jeg kan bekræfte at det er en DEEEJLIG opskrift. Jeg
      laver lagen dagen før og lader kanelen, osv, trække natten over. Jeg
      lægger også gerne rosinerne i blød i portvin, snaps el. lign. en
      månedstid i forvejen (så holder de sig jo også bedre).
  </i></p><p>
    <b>Warm</b>
  </p><pre>    100g sugar
    2 tablespoon honey
    in 1 dl water in a pan until sugar dissolves.</pre><p>
    <b>Add</b>
  </p><pre>    1 stick cinammon
    2 dry ginger cloves
    4 whole cardamom seeds
    4 whole cloves.
    Bring to a boil and let cool.</pre><p>
    <b>Remove spices</b>
  </p><p>
    <b>Add</b>
  </p><pre>    3 dl snaps
    1 bottle red wine
    1 dl Madeira (St. John).</pre><p>
    <b>Heat (but don't boil!!)</b>
  </p><p>
    <b>Add</b>
  </p><pre>    lots of raisins
    50g chopped almonds.</pre>

    <h2><a name="Gloegg2">Syltes gløgg</a><br>
      (fra Steen Thygesen, listen)</h2>

  <i><p>
      Here is my favorite gløgg recipe for you to try.  Measurements are
      all in "American" and I can't quite remember if this is my standard
      recipe or if I usually double it - but who really bothers measuring
      when you're making gløgg? %-)
  </p></i><p><i>
      This recipe serves a lot of Americans - but less Norwegians! ;-)
      WARNING: The last time I made this, I turned the stove up to reheat
      the gløgg before the party. After a while, I opened the lid,
      intending to inhale the fragrance. Upon contact with the air, the
      gløgg burst into flames and gave me a slightly modified hairdo. :-)
      This is good stuff!
  </i></p><pre>    9-12 cardamom seeds
    1 cup slivered almonds
    2 cinnamon sticks
    6 whole cloves
    6-12 figs
    1/2 cup crystallized ginger slices, diced
    1/2 to 1 cup candied orange peel, diced
    2 cups raisins
    1 bottle (1.5 liter) Burgundy wine
    2 cups orange juice
    2 cups pineapple juice
    2 cups Brandy
    1 1/2 bottles (750 ml) Port wine
    2 cups Sweet Vermouth</pre><p>
    Crush cardamom seeds into pot. Combine with almonds, cinnamon,
    cloves, figs, ginger slices, candied orange peel and raisins.
  </p><p>
    Pour enough Burgundy over the fruit mixture to completely cover
    by about an inch. Set aside the rest of the Burgundy for later.
  </p><p>
    Bring mixture to a hardy boil. Cool. Cover. Let it stand,
    unrefrigerated, for several hours - overnight is highly
    recommended.
  </p><p>
    <b>If this is correct with double amounts, be forewarned
      that the rest of the recipe needs a large pot. Large.
      Very Large.
  </b></p><p>
    Combine fruit mixture, fruit juices, Brandy, the rest of the
    Burgundy, Port wine, and Sweet Vermouth into large pot. Heat
    through, but *do not* boil again.
  </p><p>
    Serve by pouring gløgg in glasses and add a spoonful of the
    cooked fruit to each serving.<br>

  </p>
    <h2><a name="Gloegg3">Uffes gløgg</a></h2>
  <p>
    <i>Her er hvad jeg plejer at gøre (i forhold til Steens opskrift er det
      vist en plebejergløgg ...)
  </i></p><p><i>
      Jeg indrømmer, min opskrift er lidt mere kaotisk gengivet en Steens.
      Jeg plejer at lave det på slump og justere gennem processen. Det er
      endnu ikke gaæt galt (andet en i den forstand at en god julefrokost
      altid ender galt). Måske kan man kombinere det bedste fra de to
      opskrifter ... ???
  </i></p><p>
    <b>Begynd dagen før</b>
  </p><p>
    Læg halvanden pakke (375 gram) rosiner i blød i en flaske portvin.
    (Altså, ikke i selve flasken, vel). (Hvis man er hærdet bruger man
    halv slavewhiskey og halv portvin)
  </p><p>
    Bring tre-kvart liter vand i kog. Tilsæt to kopper sukker, 5 hele
    kanel, 2 citroner i skiver (husk at fjerne det yderste af skrællen
    med et råkostjern hvis citronerne har været sprøjtede), nelliker og
    kardemomme efter behag. Lad det småsimre en halv times tid. Tag det
    af og lad det stå på under låg til næste dag.
  </p><p>
    <b>Næste dag</b>
  </p><p>
    Hæld tre flasker (0.7 l) halvsød (ikke nødvendigvis særlig god)
    rødvin i en gryde. Tilsæt rosinerne (inkl. portvinen).
  </p><p>
    Hvis du har en si der passer over gryden: læg sien over og hæld
    sukkerlagen i (pointen er at rødvinen skal varmes op med nellikerne
    etc og rosinerne, men når du serverer gløggen vil du ikke have
    nelliker i den).
  </p><p>
    Hvis du ikke har en si der passer: Hæld sukkerlagen i rødvinen men
    hold nellikerne etc tilbage. Læg dem i et kaffefilter og luk filteret
    forsvarligt med en sikkerhednål.  Læg kaffefilteret i rødvinen.
    (Denne løsning er ikke så god som den med sien, fordi det er
    nellikerne etc har lidt sværere ved at afgive smag gennem
    kaffefilteret).
  </p><p>
    Varm rødvinen langsomt (meget langsomt) op under tætsluttende låg.
    Hold den vel under 70 grader. Hvis du ikke er i julestemning, så hold
    hæsen ned til gryden, åben låget på klem og inhaler gennem næsen.
    Det plejer at hjælpe.
  </p><p>
    Lige inden servering tilsættes mandler. De kan være i skiver (bedst)
    eller hakkede. Jeg foretrækker at riste mandlerne en anelse på en
    tør pande inden; så er de mere sprøde og sætter sig ikke fast i
    tænderne.
  </p><p>
    Smag til med sukker.<br>

  </p>
    <h2><a name="Gloegg4">Gløgg</a><br>
      (fra 'God Mad, Let at Lave')</h2>
  <p>
    <i>Kommentarer fra Soren Nielsen, listen:
  </i></p><p><i>
      Med 'kogepunktet' menes nok ca. 70 grader, ikke 100. Ved
      70 fordamper alkoholen nemlig, og det er vel ikke meningen (don't drikn
      and drive - you may hit a bump in the road and spill your drink).
  </i></p><p><i>
      Når vi laver denne gløgg bruger vi nogle gange lidt citronsaft istedet
      for skal. Vinen skal ikke være for tør, og gløkken skal nok serveres med
      en sukkerskål på bordet, og teskeer. I USA kan man ret nemt finde hel
      kanel (amerikanere er vilde med kanel). Ingefær hedder ginger, kardemomme
      hedder vistnok Cardemom (Mom's car på fransk?) og så videre. Portvinens
      rolle er at bibringe alkohol og sødme, så den billigste er helt fin.
      Blot husk ikke at koge det...
  </i></p><p><i>
      Der har været et par andre opskrifter på listen, og med min ekspertise
      mener jeg de lyder fremragende. Specielt vil jeg nok prøve at bruge
      dadler i stedet for rosiner (som jeg afskyr, specielt i bagværk), og
      at lade krydderierne trække en nat - hellere dem end min kone.
  </i></p><p>
    Til en meget lille portion - dette er snarere per 2 personer:)
  </p><pre>    1 fl. (750 ml) rødvin
    3 tynde strimler gul citronskræl,
    3 stk. hel kardemomme,
    3 hele nelliker,
    1 lille stk. hel ingefær,
    4 cm. hel kanel
    1-2 dl rosiner (dl=deciliter)
    25-50 g smuttede hakkede mandler,
    1-2dl portvin.</pre>
  Hæld 1.5 dl rødvin i gryden. Tilsæt citronskal og krydderier. Varm
  blandingen knap nok til kogepunktet, og lad den stå 10 min. uden at koge.
  Si ekstarkten. Varm den op med rødvin, rosiner og mandler til lige under
  kogepunktet. Sluk. tilsæt portvin. Serveres straks i krus.<br>


    <h2><a name="Gloegg5">Torbens Gløgg</a><br>
      (Fra Torben Johansen, Listen)</h2>

  <p>
    Køb en af apotekets special-blandinger
    (hedder gløgg extrat) og sørg
    for at fylde dem i en gazebindspose
    (kaffefilter kan anvendes, men husk at
    lukke dem, så indholdet ikke
    flyder rundt i gløggen).
  </p><p>
    Indkøbsliste til 10 -15 personers drikke gilde:
  </p><pre>    1/2 - liter snaps (portvin ect.)
    1/2 kg. rosiner (jeg elsker disse druer)
    8 -10 liter rødvin
    (skal ikke være den billigste
    eller den dyreste, men en fornuftig dagsvin).
    100 - 500 gram smuttede mandler
    1 - 2 juleøl (fx. tuborg julebryg, &gt;7% alkohol!)
    (grøn tuborg kan bruges)
    1/2 - 1 kg. sukker evt. iblandet noget kanel</pre><p>
    Start 14 dg til 1 md før med at hælde 1/2 af snapsen sammen med 3/4
    af rosinerne i et lufttæt glas og stil disse i køleskabet.  Rør evt.
    rundt/ ryst indholdet 1 gang pr. uge.
  </p><p>
    Når dagen kommer, så start 1 time før gæsterne kommer med
    at fylde rødvin, 1 øl pr. gryde samt "rosinglasset"s indhold.
    Lad gryden/ gryderne langsomt varme op - må ikke koge.
    Kom derefter apotekets poser 1 - 3 pr. gryde (5 liters) i.
    Kom mandlerne i samt noget sukker og rør rundt i gryden.
    Sørg for løbende for at tilsmage med sukker, så den får den rigtige
    smag.
  </p><p>
    Efter 1/2 - 1 time er gudedrikken klar og kan serveres med klejner
    og pebernødder samt brunekager, eller hvad der nu hører til julen.
  </p><p>
    Sørg for at ingen kommer i bil til denne sammenkomst, da jeg
    garanterer for at spritindholdet i gudedrikken er lidt højere end i en
    normal pilsner/ flaske rødvin.
  </p><p>
    Jeg har de sidste 5 - 6 år haft en fast trup af bekendte som gerne
    ville deltage i min ellers hemmelige opskrift, for de kommer gerne den
    sidste lørdag inden jul omkring klokken 15/16 og de sidste går
    gerne omkring kl. 02/03 (nogle timer senere) og altid i løftet
    stemning.<br>

  </p>
    <h2><a name="Skiver1">Tine Larsens mormors æbleskiver</a><br>
      (fra Tine Larsen, listen)</h2>
  <p>
    <i>Som de fleste gamle opskrifter giver den en MEGET stor portion, men
      evt. overskydende æbleskiver kan sagtens fryses til senere
      genopvarmning.
  </i></p><pre>    4 æg
    4 spsk. sukker
    1 l. kærnemælk (amr.: buttermilk)
    500 g. hvedemel
    1 tsk. salt
    6 tsk. vaniliesukker
    (vanilie ekstrakt kan også bruges)
    1 top tsk. natron (amrk. bagepulver virker ok)
    smør til stegning</pre><p>
    Æggene røres til en creme med sukkeret, mælken piskes i lidt ad gangen.
    De øvrige ingredienser røres i. Bages i æbleskivepande.<br>

  </p>
    <h2><a name="Skiver2">Æbleskiver I, med kærnemælk</a><br>
      (Frk. Jensens Kogebog)</h2>
  <p>
    4 portioner
  </p><pre>    5 dl mel
    1/2 tsk salt
    2 tsk sukker
    1 tsk kardemomme
    1 tsk natron            [== baking soda]
    3 æg
    ca. 4 dl kærnemælk      [== buttermilk]
    reven skal af 1 citron
    4 spsk olie til bagningen</pre><p>
    Bland mel, salt, sukker, kardemomme, natron og reven citronskal. Pisk
    æggeblommer og kærnemælk sammen og rør det i melet. Tilsæt olien
    og lad dejen hvile ca. 1/2 time. Pisk derefter æggehviderne, vend dem
    i dejen og hæld den i en kande.
  </p><p>
    Opvarm æbleskivepanden og hæld lidt olie i hvert hul til den første
    pande æbleskiver. Til de øvrige er det ikke nødvendigt, når dejen
    er tilsat olie. Fyld hullerne trekvart op med dej. Vend æbleskiverne,
    når de begynder at stivne og hæve i kanterne. Inden æbleskiverne
    vendes, kan der lægges en tynd skive æble eller lidt æblemos i
    hver. Drej æbleskiverne flere gange under bagningen.
  </p><p>
    Prøv om de er bagt veed at stikke i dem med en træpind eller en
    strikkepind. Hvis der hænger dej ved pinden, må de bages noget
    længere.
  </p><p>
    Hold æbleskiverne varme i ovnen. De serveres med syltetøj og sukker.<br>

  </p>
    <h2><a name="Skiver3">Æbleskiver II, med fløde</a><br>
      (Frk. Jensens Kogebog)</h2>
  <p>
    4 portioner
  </p><pre>    3 dl mel
    1/4 tsk salt
    1 tsk sukker
    1/2 tsk kardemomme
    2 1/2 dl fløde
    4 æg
    50 g smør</pre><p>
    Rør æbleskivedejen som til <a href="#Skiver2">Æbleskiver I</a>. Det smeltede smør og de
    piskede hvider røres i dejen umiddelbart før bagningen. Dejen kan
    bages som "klatter" på almindelig pande.<br>

  </p>
    <h2><a name="Pande1">Pandekager</a><br>
      (fra Frk. Jensens Kogebog)</h2>

  4 portioner:
  <pre>    4 dl mel
    1/2 tsk salt
    2 tsk sukker
    1 tsk kardemomme
    3 æg
    4-5 dl mælk
    3 spsk olie</pre>
  Bland mel, salt, sukker og kardemomme. Pisk æg og mælk sammen og
  rør det i melet. Tilsæt olien. Hæld dejen i en kande og lad den
  hvile ca. 1/2 time. Rør i dejen inden bagningen.
  <p>
    Opvarm panden og hæld lidt olie på til den første pandekage, til de
    øvrige er det ikke nødvendigt, når dejen er tilsat olie. Hæld lidt
    af dejen midt på den varme pande, drej denne hurtigt, så dejen
    fylder hele panden i et tyndt lag. Vend pandekagen, når den er stiv.
  </p><p>
    Pandekagerne stables eller foldes sammen og holdes varme. De serveres
    med sukker og frugtkompot, citronsaft, appelsinsovs II, syltetøj eller is.<br>

  </p>
    <h2><a name="Rugbroed1">Bentes rugbrød</a><br>
      (fra <a href="mailto:bente@deakin.edu.au">Bente Schjeflo</a>)</h2>

  <i>
    Det er ellers ikke ofte jeg udgiver mine hemmeligheder,
    men denne her har gjort mig kendt i connaisseur kredse herude:-)
    <p>
      En advarsel.. den kræver tid, så lav et par stykker ad gangen!!
  </p></i><p><i>
    </i>
  </p><pre>    Surdej:
    1 1/2 dl yoghurt
    1 stk. salt
    ca. 125 g rugmel</pre>
  <p>
    Blandes til en klistret dej, dækkes med plastfilm, og stilles i ca. 20 grader i 4-6 dage.
  </p><pre>    Dej:
    25 g gær
    1/2 l lunkent vand
    2 tsk salt
    650-700 g rugmel
    150 g anden mel (hvede/sigte/kartoffel/majs-)
    dette er for at få dejen til at hæve lidt.</pre>
  Bland gæren med lidt vand og bland surdej, salt og resten af vandet i.<br>
  Tilsæt melet, og lidt efter lidt rugmelet.<br>
  Ælt godt igennem på bordet (eller i 'brødmaskinen' som Arne omtaler), og sæt til hævning i 1 time.<p>

    Æltes igennem og formes til brød.<br>
    Lægges i en oliesmurt form eller på bagepapir, og efterhæver 1/2 time. <br>
    Snittes eller stikkes med en gaffel, og pensles med en blanding af vand og olie.<br>
    Bages på nederste rille i ovnen i ca 1 1/2 time, på 175 grader.<br>
    I begyndelsen (15 min) pensles med vand et par gange.</p><p>

    Bank på brødet, for at se om det er færdigt (en hul lyd).<br>
    Tages ud af ovnen straks det er færdigt, og pakkes i et viskestykke.</p><p>

    Det smager skønt varmt, men er svært at skære, så det er bedst at vente til næste dag.</p><p>
    Brødet kan fryses.<br>

  </p><h2><a name="Sild1">Ingelises sild</a><br>
      (Fra <a href="mailto:Ingelise@eworld.com">Ingelise</a>, Listen)</h2>

  <pre>    1/3 cup sugar
    1/3 cup water
    1/3 cup vinegar
    1/2 pint sour cream
    1 TBSP pickling spice
    1 QT herring bits (drained)
    1 big sliced onion</pre>
  Boil the first 3 ingredients and let it cool down.<br>
  Mix boiled mixture with sour cream and then add the herring, onion, and pickling spice.<br>
  Make at least a few days before it's to be eaten.<br>

 <h2><a name="Sild2">Ingelises sild i karry</a><br>
      (Fra <a href="mailto:Ingelise@eworld.com">Ingelise</a>, Listen)</h2>

  <i>
    Jeg bor i USA og køber et glas sild og hælder den gamle saft ud og laver
    så de nye safter.</i><p><i>
    </i>
  </p><pre>    50 g mayonnaise
    6 oz sour cream
    1 TBSP lemon juice
    3 tsp curry
    1/2 tsp powdered mustard
    1 little chopped onion
    16 oz herring (drained)</pre>
  Mix the first five ingredients and then add the onion and herring.<br>
  Best if it's done at least the day before you plan to eat it.<br>

 <h2><a name="Leverpostej1">Leverpostej</a><br>
      (Fra 'Det Store Danske Madleksikon')</h2>

  <pre>    1/2 kg svinelever
    200 gr. fersk spæk
    1 (lille) løg
    1 spsk. hvedemel
    2 dl. fløde
    30 gr. smør
    1 æg
    salt
    peber
    evt. et par ansjosfiletter
    (kan anbefales, da det højner leversmagen.
    Husk at flå ansjoserne, hvis der er skind på!!)</pre>
  Arbejdstid: 30 min.<br>
  Ovntid: ca 1 1/4 time<br>
  Postejform: 1 liter<p>
  </p><ol>
    <li>Sæt ovnen på 180 gr. C. Befri leveren for sener, hinder og årestammer, og
      skær den samt spækket i mindre stykker. Pil løget og del det et par gange.
    </li><li>Mal lever, spæk og løg 3 - 4 gange gennem kødhakkeren.<br>
      Hvis du bruger food-processor så pas på, at massen ikke bliver alt for finthakket.
    </li><li>Kom mel og fløde i en gryde, pisk det sammen. Pisk over svag varme, til det
      begynder at tykne (ingen klumper).
    </li><li>Tag gryden fra varmen og pisk smørret i. Lad det afkøle lidt.
    </li><li>Bland levermassen godt sammen med opbagningen, rør ægget i og krydr med
      salt og peber.
    </li><li>Smør formen godt og hæld blandingen i.
    </li><li>Bag leverpostejen i ovnen i ca. 1 1/4 time.<br>
      Prøv om leverpostejen er færdigbagt, ved at stikke en nål i den. Hænger der intet ved, er den færdigbagt.
  </li></ol>
  <p>
    Kan fryses 2-3 måneder.<br>

  </p><h2><a name="Leverpostej2">Ullas leverpostej</a><br>
      (Fra <a href="mailto:zari@socsci.auc.dk">Ulla</a>, Listen)</h2>

  <pre>    250 gr. svinelever
    150 gr. spæk
    1 løg
    3 spsk. mel
    1 æg eller 1-2 æggehvider
    1/4 liter skummemælk/letmælk
    salt
    peter
    evt. 1/2 tsk. allehånde/stødte nelliker.</pre>
  Bland det hele i en foodprocesser, så det er godt hakket.<br>
  Vil du have leverpostejen grov tilsætter du hakket svinekød efter behag.<br>
  Når det hele er godt hakket og sammenrørt, hældes det i smurte forme og
  bages ved 170 grader i ca. 1 time.<br>
  Vil du fryse den, er det bedst at gøre det før den bages.<br>

 <h2><a name="Leverpostej3">Ullas low-fat leverpostej</a><br>
      (Fra <a href="mailto:zari@socsci.auc.dk">Ulla</a>, Listen)</h2>

  <pre>    250 gr. svinelever
    100 gr. kogte kartofter
    1 løg
    1 æg
    1-2 æggehvider
    4 dl skummemælk
    salt
    peber
    allehånde.
    evt. 3 ansjoser.</pre>
  Hak og rør det sammen i en foodprocesser og bag ved 170 grader i ca. 1 1/4 time.<br>
  Se desuden <a href="#Leverpostej2">Ullas leverpostej</a><br>

 <h2><a name="Leverpostej4">Christians leverpostej</a><br>
      (fra <a href="mailto:CJeppesen@Lockheed.on.ca">Christian</a>, Listen)</h2>

  <pre>    1/2 kg svinelever
    375 g spæk
    1 løg
    100 g mel
    6 dl mælk
    3 tsk salt
    3/4 tsk peber
    1 tsk frit valg mellem merian, basilikum
    eller allehånde
    1 skive bacon (på toppen i hver form)</pre>
  Hakkes og blandes og bages v. 170 C i 1 time, hvis små forme,
  ellers lidt længere.<p>

    Du kan med fordel fryse formene med den blandede leverpostej, og
    så bage den/dem lige før servering.<br>

  </p><h2><a name="Klejner">Klejner</a><br>
      (Fra <a href="mailto:knaested@ix.netcom.com">Kjeld Næsted</a>, Listen)</h2>

  <pre>    3 æg
    150 gr (5oz) sukker
    150 gr (5oz) margarine
    kardemomme
    reven citron skal
    3 spsk fløde
    1/2 kg (18oz) mel
    ---------
    ca 3/4 kg (24oz) palmin</pre>
  Ægene røres godt med sukkeret, derefter kommmes lunken margarine, kardemomme, reven citron skal<br>
  Røres godt til en sej masse. Kom fløde og mel i.<br>
  Røres godt og stilles køligt.<br>
  Dejgen røres meget tyndt ud, vendes forsigtigt og koges i palmines.<br>

 <h2><a name="Vaniliekranse">Vaniliekranse</a><br>
      (Fra <a href="mailto:knaested@ix.netcom.com">Kjeld Næsted</a>, Listen)</h2>

  <pre>    300gr (10oz) mel
    70gr (2 1/2oz) sukker
    60gr (2oz) fint hakkede mandler
    1/2 stang vanillie
    200gr (7oz) smør
    1 æggeblomme</pre>
  Bland mel, sukker, og mandler sammen på bagebordet.<br>
  Skrab vanillien i, skær smørret i små stykker og bland i, dernæst æggeblommen. Ælt dejen godt.<br>
  Kør dejen ud gennem en køkken-maskine i en tynd fingers tykkelse (stjerneformet) og skær i stykker på ca 12-15 cm og form i en ring.<br>
  Kom på en smurt bageplade og bag 8 - 10 minuter i en ret varm ovn (400F) eller til de er gyldne.<br>

 <h2><a name="Kransekage">Kransekage</a><br>
      (Fra <a href="mailto:knaested@ix.netcom.com">Kjeld Næsted</a>, Listen)</h2>

  Til dej:
  <pre>    450 gr (1 lb) fint hakkede mandler
    100 gr (4oz) glasur sukker(icing sugar)
    100 gr (4oz) flor melis (castor sugar)
    2 spsk vand
    3 æggehvider</pre>
  Til glasur:
  <pre>    120 gr (4 1/2oZ) glasur sukker (icing sugar)
    1 æggehvide
    1/2 tsk hvid eddike
    (dette giver alt for megen glasur,
    men dette er forholdet der skal bruges)</pre>
  Bland alle indgredienserne til kransekagerne sammen i en gryde over lav varme til alt væde er absorberet.<br>
  Køl helt ned (i køleskabet).<br>
  Rul ud i en pølse, skær til i 10-12 cm længde og form til en "tagryg".<br>
  Kom på en velsmurt bageplade der er let dækket med mel.<br>
  Bag i en kølig (300F) ovn ca 15 - 20 minuter til de er gyldne på toppen.<br>
  Køl ned i køleskabet.
  <p>
    <i>Lav glasuren:</i><br>
    Bland flormelis (sigtet) med æggehviden og eddiken indtil du har en tyk ensformig masse.<br>
    Pynt kagerne med tynde linier af glasur og køl ned.<br>

  </p><h2><a name="Gloser">Krydderier på engelsk</a><br>
      (Fra <a href="mailto:lars@RNS.COM">Lars</a>, listen)</h2>

  <i>
    Her er et par nyttige gloser:
  </i>
  <table border="">
    <tbody><tr><th>Dansk</th><th>Engelsk</th></tr>
      <tr valign="TOP">
        <td>Natron</td><td>Baking soda</td></tr>
      <tr valign="TOP">
        <td>Kardemomme</td><td>Cardamon</td></tr>
      <tr valign="TOP">
        <td>Muskat</td><td>Nutmeg</td></tr>
      <tr valign="TOP">
        <td>Hjortetaksalt</td><td>(Ammoniumkarbonat) Salt of hartshorn<br>
          (kan normalt ikke fås, men man kan købe "Oil of hartshorn".<br>
          Apotekeren vil dog kigge noget undrende når du fortæller
          ham, at det er til indvortes brug !!)</td></tr>
      <tr valign="TOP">
        <td>Kanel</td><td>Cinnamon</td></tr>
      <tr valign="TOP">
        <td>Allehånde</td><td>Allspice</td></tr>
      <tr valign="TOP">
        <td>Sukker</td><td>Sugar</td></tr>
      <tr valign="TOP">
        <td>Puddersukker</td><td>Powdered sugar</td></tr>
      <tr valign="TOP">
        <td>Kandis...</td><td>har jeg aldrig set</td></tr>
      <tr valign="TOP">
        <td>Kommen</td><td>Caraway</td></tr>
      <tr valign="TOP">
        <td>Spidskommen</td><td>Cumin</td></tr>
      <tr valign="TOP">
        <td>Gurkemejerod</td><td>Tumeric</td></tr>
  </tbody></table>

{% endblock %}
