<!-- START Nav Bar -->
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li{% if section == "index" %} class="active"{% endif %}><a href="{% url '/' %}">/</a></li>
      <li{% if section == "projects" %} class="active"{% endif %}><a href="{% url '/projects' %}">projects</a></li>
      <li{% if section == "photos" %} class="active"{% endif %}><a href="{% url '/photos' %}">photos</a></li>
      <li{% if section == "about" %} class="active"{% endif %}><a href="{% url '/about' %}">about</a></li>
    </ul>
  </div>
</div>
<!-- END Nav Bar -->
